.item-card {
  padding: 1rem;
  font-size: 0.875rem;
  border: 1px solid rgb(39, 39, 42);
  border-radius: 0.25rem;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.item-title {
  font-weight: 700;
}

.item-subtitle {
  font-size: 0.875rem;
  color: rgba(216, 216, 216, 0.5);
}

.item-card:hover {
  background-color: rgb(95, 95, 95);
  cursor: pointer;
}
