.profile-pic {
  display: flex;
  flex-direction: column;
}

.pic-input {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  gap: 1rem;
  align-self: flex-start;
}

.upload-container {
  display: flex;
  justify-content: center;
}

.pic {
  max-width: 80px;
  max-height: 70px;
}

.pic > img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border: 1px solid white;
}

.delete-pic {
  border: none;
  color: white;
  background-color: red;
  border-radius: 0.2rem;
  padding: 0.2 0.5rem;
  display: flex;
  align-items: center;
  cursor: pointer;
}
