.profile-pic {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-start;
  align-items: center;
  gap: 2rem;
}

.pic {
  width: 80px;
  height: 70px;
}

.pic > img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
