#resume-header {
  display: flex;
  gap: 1rem;
  align-items: center;
  flex: 2;
}

.user-pic {
  border: 1px solid black;
  width: 64px;
  height: 50px;
  max-width: 64px;
  align-self: flex-start;
}

.basic-data {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;
}

.full-name {
  font-weight: bold;
  font-size: 1.5rem;
  line-height: 1rem;
}

.headline {
  font-size: 1rem;
  line-height: 1.5rem;
}

.basic-data > ul {
  display: flex;
  gap: 0.3rem;
  flex-wrap: wrap;
}

.resume-header > ul > li {
  margin: 0;
  padding: 0.2rem;
}
