.resume-canvas {
  background-color: white;
  padding: 2rem 4rem;
  width: 8.5in; /* or 210mm / 21cm for A4 */
  /* height: 11in; or 297mm / 29.7cm for A4 */
  padding: 2.5rem 3rem; /* 40px top/bottom, 48px left/right */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: white;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  color: black;
  margin-left: 30rem;
  margin-top: 3rem;
}

h3 {
  font-weight: 700;
  line-height: 1.25rem;
}

hr {
  width: 100%;
  display: block;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: auto;
  margin-right: auto;
  border: 0.5px inset black;
}
